@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@300;500;700&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-shadow: 0 0 5px black;
  color: white;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-bottom: 10px;
  text-shadow: 0 0 3px black;
  font-size: 1.3em;
  color: white;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

button {
  padding: 8px 0px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: rgb(83, 131, 232);
  border: 3px solid black;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(62, 111, 215);
}

button:active {
  color: #0deadf;
}

textarea {
  width: 100%;
  max-width: 800px;
  height: 20vh;
  max-height: 450px;
  min-height: 100px;
  min-width: 200px;
  background-color: #fff6;
  outline: none;
  border: none;
  font-family: "Inconsolata", monospace;
  color: black;
  padding: 15px;
  box-shadow: 0 0 10px 0px black;
  text-decoration: none;
  border-radius: 5px;
  resize: none;
}

.radio-container {
  width: 100%;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-auto-flow: row;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  user-select: none;

  input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 10%;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  input[type="radio"]::before {
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 10%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #0deadf;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  label {
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 40px;
    color: white;
    font-size: 1.8em;
    text-shadow: 0 0 5px black;
    cursor: pointer;
  }

  input:checked + label {
    color: #0deadf;
  }

  .victories {
    align-content: center;
    justify-content: start;

    label {
      margin-left: 10px;
    }
  }

  .defeats {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: end;

    label {
      margin-right: 10px;
    }
  }
}

.form-buttons-container {
  margin-top: 20px;
  width: 70%;
  max-width: 535px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: column;
  align-content: center;
}

.active-stats {
  color: #0deadf;
  border-color: #0deadf;
}

.stats-box {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px;
  background-color: rgba(40, 52, 78, 0.809);
  border: 1px solid black;
  color: white;

  .stats-container {
    // margin: 0 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: start;
    flex-direction: column;

    .stats-title {
      margin-bottom: 20px;
      color: #0deadf;
      font-size: 1.3em;
      letter-spacing: 0.7px;
      text-shadow: 0 0 3px black;
    }

    ul {
      display: grid;
      flex-direction: column;
      justify-content: start;
      align-content: start;

      li {
        line-height: 1.5;
      }
    }
  }
}

.mvp-adno {
  margin-top: 10px;
  font-size: 0.7em;
}

#show-instruction-container {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;

  p {
    text-shadow: 0 0 3px black;
    color: white;
    font-size: 0.9em;
    margin-right: 10px;
  }

  button {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    color: white;
    border-radius: 50%;
    border: none;
  }
  button::after {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .instruction-highlight {
    animation: highlight 1.5s infinite;
  }
}

@keyframes highlight {
  0% {
    box-shadow: none;
  }

  50% {
    box-shadow: 0 0 15px 5px red;
  }

  100% {
    box-shadow: none;
  }
}

.random-background-1 {
  background-image: url("https://i.imgur.com/kvYRCNK.png");
}

.random-background-2 {
  background-image: url("https://i.imgur.com/eQ9Nwts.png");
}

.random-background-3 {
  background-image: url("./img/chip.jpg");
}

.random-background-4 {
  background-image: url("https://how2play.pl/wp-content/uploads/2019/10/legends-of-runeterra-poro-3.jpg");
}

.random-background-5 {
  background-image: url("https://images7.alphacoders.com/107/1071030.jpg");
}
